<%- include ../../partials/_header.ejs %>
<%- include ../../partials/_header-pages.ejs  %>
        <!-- partial -->
        <div class="main-panel">
          <div class="content-wrapper">
            <div class="row">
              <div class="col-md-12 d-flex align-items-stretch grid-margin">
                <div class="row flex-grow">
                  <div class="col-12">
                    <div class="card">
                      <div class="card-body">
                        <h4 class="card-title">Default form</h4>
                        <p class="card-description"> Basic form layout </p>
                        <form class="forms-sample" method="post" action="/admin/edit-article/<%= editedArticle._id   %>">
                          <div class="form-group">
                            <label for="exampleInputPassword1">Title</label>
                            <input type="text" class="form-control" id="title" name="title" placeholder="Title" value="<%= editedArticle.title  %>">
                          </div>
                          <div class="form-group">
                            <label for="exampleInputPassword1">Seo</label>
                            <input type="text" class="form-control" id="seo" name="seo" placeholder="Title" value="<%= editedArticle.seo  %>">
                          </div>
                          <div class="form-group">
                            <label>Path Photo</label>
                            <input type="text" name="pathPhoto" class="form-control" name="pathPhoto" placeholder="URL photo" value="<%= editedArticle.pathPhoto  %>">
                          </div>
                          <div  class="form-group">
                            <label for="exampleInputPassword1">Content</label>
                            <textarea id = "editor" rows="8.0" class="form-control" id="content" name="content" placeholder="Text" ><%- editedArticle.content %></textarea>
                          </div>
                          <div class="form-group">
                            <label for="exampleFormControlSelect2">Category</label>
                            <select class="form-control" id="category" name="category" >
                              <% for(let index = 0 ; index < myCategories.length ; index++) { 
                                 var chosenCategory = ( editedArticle &&  editedArticle.category.toString() == myCategories[index]._id.toString() ) ? "selected":"";
                                %>

                              <option <%= chosenCategory  %> value="<%= myCategories[index]._id  %>"> <%= myCategories[index].field  %></option>
                              <% } %>
                            </select>
                          </div>
                          <div class="form-group">
                            <label for="exampleInputPassword1">Description</label>
                            <textarea class="form-control" id="description" name="description" placeholder="Text" ><%= editedArticle.description  %></textarea>
                          </div>

                          <div class="form-group">
                            <div class="card">
                              <div class="card-body">
                                <h4 class="card-title">Table with contextual classes</h4>
                                <p class="card-description"> Add class <code>.table-{color}</code> </p>
                                <table class="table table-bordered">
                                  <thead>
                                    <tr>
                                      <th> <%= editedArticle.gallery.length %> </th>
                                      <th> Link </th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <% let index = editedArticle.gallery.length %>
                                    <% while( 0 <= index ) { %>
                                    <tr class="table-success">
                                      <td> <%= index %> </td>
                                      <td> <%= editedArticle.gallery[index] %> </td>
                                    </tr>
                                    <% index--;} %>
                                  </tbody>
                                </table>
                              </div>
                            </div>
                          </div>"

                          <button type="submit" class="btn btn-success mr-2">Submit</button>
                          <button class="btn btn-light">Cancel</button>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- content-wrapper ends -->
          <%- include ../../partials/_footer.ejs %>
          <!-- partial -->
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="../../admin/vendors/js/vendor.bundle.base.js"></script>
    <script src="../../admin/vendors/js/vendor.bundle.addons.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page-->
    <!-- End plugin js for this page-->
    <!-- inject:js -->
    <script src="../../admin/js/shared/off-canvas.js"></script>
    <script src="../../admin/js/shared/misc.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page-->
    <script src="../../admin/js/shared/jquery.cookie.js" type="text/javascript"></script>
    <script src="/ckeditor/build/ckeditor.js"></script>
    <script>
      ClassicEditor
			.create( document.querySelector( '#editor' ), {
				
				toolbar: {
					items: [
						'heading',
						'|',
						'bold',
						'italic',
						'link',
						'bulletedList',
						'numberedList',
						'|',
						'outdent',
						'indent',
						'|',
						'imageUpload',
						'blockQuote',
						'insertTable',
						'mediaEmbed',
						'undo',
						'redo',
            'insertImage'
					]
				},
				language: 'en',
				image: {
					toolbar: [
						'imageTextAlternative',
						'imageStyle:full',
						'imageStyle:side'
					]
				},
				table: {
					contentToolbar: [
						'tableColumn',
						'tableRow',
						'mergeTableCells'
					]
				},
				licenseKey: '',
				
				
			} )
			.then( editor => {
				window.editor = editor;
        } )
			.catch( error => {
				console.error( 'Oops, something went wrong!' );
				console.error( 'Please, report the following error on https://github.com/ckeditor/ckeditor5/issues with the build id and the error stack trace:' );
				console.warn( 'Build id: hdrr941gko64-nohdljl880ze' );
				console.error( error );
			} );
	</script>
    <!-- <script src="/scr/ckeditor.js"></script> -->
    <!-- End custom js for this page-->
  </body>
</html>