<%- include ../../partials/_header.ejs %>
<%- include ../../partials/_header-pages.ejs  %>
        <!-- partial -->
        <div class="main-panel">
          <div class="content-wrapper">
            <div class="row">
              <div class="col-lg-12 stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Table with contextual classes</h4>
                    <p class="card-description"> Add class <code>.table-{color}</code> </p>
                    <table class="table table-bordered">
                      <thead>
                        <tr>
                          <th> # </th>
                          <th> ID </th>
                          <th> Field </th>
                          <th> Seo </th>
                          <th> Action </th>
                        </tr>
                      </thead>
                      <tbody>
                        <% myCategories.forEach( function ( oneCategory ,index) { %> 
                        <tr class="table-info">
                          <td> <%= index +1  %></td>
                          <td> <%= oneCategory._id  %> </td>
                          <td> <%= oneCategory.field  %> </td>
                          <td> <%= oneCategory.seo  %> </td>
                          <td> <a href="/admin/edit-category/<%= oneCategory._id  %>"> Edit</a> | 
                            <a href="/admin/delete-category/<%= oneCategory._id  %>">Delete</a> </td>
                        </tr>
                        <% }) %>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- content-wrapper ends -->
          <!-- partial:../../partials/_footer.html -->
          <footer class="footer">
            <div class="container-fluid clearfix">
              <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © bootstrapdash.com 2020</span>
              <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center"> Free <a href="https://www.bootstrapdash.com/bootstrap-admin-template/" target="_blank">Bootstrap admin templates</a> from Bootstrapdash.com</span>
            </div>
          </footer>
          <!-- partial -->
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="../../admin/vendors/js/vendor.bundle.base.js"></script>
    <script src="../../admin/vendors/js/vendor.bundle.addons.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page-->
    <!-- End plugin js for this page-->
    <!-- inject:js -->
    <script src="../../admin/js/shared/off-canvas.js"></script>
    <script src="../../admin/js/shared/misc.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page-->
    <script src="../../admin/js/shared/jquery.cookie.js" type="text/javascript"></script>
    <!-- End custom js for this page-->
  </body>
</html>