<!-- <%- include ../../partials/_header.ejs  %> -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Star Admin - Supreme Administrator</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="/admin/vendors/iconfonts/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="/admin/vendors/iconfonts/ionicons/dist/css/ionicons.css">
    <link rel="stylesheet" href="/admin/vendors/iconfonts/flag-icon-css/css/flag-icon.min.css">
    <link rel="stylesheet" href="/admin/vendors/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="/admin/vendors/css/vendor.bundle.addons.css">
    <!-- endinject -->
    <!-- plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="../../admin/vendors/iconfonts/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/admin/css/shared/style.css">
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="/admin/css/demo_1/style.css">
    <!-- End Layout styles -->
    <link rel="shortcut icon" href="/admin/images/favicon.ico" />
  </head>
  <style>
    .ghost {
        opacity: 0.4;
    }
    .list-group {
        margin: 20px;
    }
    button {
        margin: 40px 20px;
        float: right;
    }
</style>
<%- include ../../partials/_header-pages.ejs   %>
        <!-- partial -->
        <div class="main-panel">
          <div class="content-wrapper">
            <% function getChild( myMenus, parent)
                {
                  let children = [];
                  for( let i = 0 ; i < myMenus.length ; i++)
                  {
                    if( myMenus[i].parent.toString() == parent.toString())
                    {
                      children.push(myMenus[i]);
                    }
                  }
                  return children;
                } %>
              
                <h4 class="col-12">Nested Sortables</h4>
                <p class="col-12">NOTE: When using nested Sortables with animation, it is recommended that the <code>fallbackOnBody</code> option is set to true. <br />It is also always recommended that either the <code>invertSwap</code> option is set to true, or the <code>swapThreshold</code> option is lower than the default value of 1 (eg <code>0.65</code>).</p>
                  <div id="nestedDemo" class="list-group col nested-sortable">
                    <% myMenus.forEach(function(iMenu) { 
                      let children = getChild(myMenus,iMenu._id);
                      if( iMenu.parent == "" && children.length == 0)
                      {%>
                        <div  class="list-group-item" id="<%= iMenu._id %>" data-id="<%= iMenu._id  %>" data-href="<%= iMenu.href  %>" ><%= iMenu.name  %></div>
                    <% } else if(  iMenu.parent == "" && children.length != 0 ) { %> 
                      <div class="list-group-item" id="<%= iMenu._id %>" data-id="<%= iMenu._id  %>" data-href="<%= iMenu.href  %>" data-parent="<%= iMenu._id  %>" ><%= iMenu.name  %>
                        <div class="list-group nested-sortable">
                            <% children.forEach( function(subMenu) { %> 
                              <div class="list-group-item" id="<%= subMenu._id %>" data-id="<%= subMenu._id  %>" data-href="<%= subMenu.href  %>" data-parent="<%= iMenu._id  %>"><%= subMenu.name  %></div>
                            <% }); %>
                        </div>
                    </div>
                    <%}}) %>
                  </div>
                  
                  <button id="submitButton" class="btn btn-primary">Submit</button>
              
            
          </div>
          <!-- content-wrapper ends -->
          
          <%- include ../../partials/_footer.ejs %>
          <!-- partial -->
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="https://unpkg.com/sortablejs-make/Sortable.min.js"></script>
    <script src="https://code.jquery.com/jquery-2.2.4.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-sortablejs@latest/jquery-sortable.js"></script>
    <script>
        var nestedSortables = [].slice.call(document.querySelectorAll('.nested-sortable'));
          var sortables = [];
          
          for (var i = 0; i < nestedSortables.length; i++) {
              sortables[i] = new Sortable(nestedSortables[i], {
                  group: 'nested',
                  animation: 150,
                  fallbackOnBody: true,
                  swapThreshold: 0.65
              });
          }
          console.log("This is the hierarchical structure")
          for(var y = 0; y < sortables.length; y++) {
                  var order = sortables[y].toArray();
                  console.log(order);
              }
              const nestedQuery = '.nested-sortable';
              const identifier = 'id';
              const identifierHref = 'href';
              const identifierParent = 'parent';
              const root = document.getElementById('nestedDemo');
              function serialize(sortable) //a hierarchical nested array
              {
                var serialized = [];
                var children = [].slice.call(sortable.children);
                for (var i in children) {
                  var nested = children[i].querySelector(nestedQuery);
                  serialized.push({
                    id: children[i].dataset[identifier],
                    href : children[i].dataset[identifierHref],
                    parent : children[i].dataset[identifierParent],
                    children: nested ? serialize(nested) : []
                  });
                }
                return serialized
              }
        $('#submitButton').click(function () 
        {
          
            let sortedDataArray = serialize(root);
            console.log(sortedDataArray);
            $.ajax(
              {
                url:"/admin/menus",
                type:"post",
                data:JSON.stringify(sortedDataArray),
                dataType:"json",
                contentType: 'application/json'
              }
            );
        });
    </script>
    <script src="../../admin/vendors/js/vendor.bundle.base.js"></script>
    <script src="../../admin/vendors/js/vendor.bundle.addons.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page-->
    <!-- End plugin js for this page-->
    <!-- inject:js -->
    <script src="../../admin/js/shared/off-canvas.js"></script>
    <script src="../../admin/js/shared/misc.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page-->
    <!-- End custom js for this page-->
  </body>
</html>