<!DOCTYPE html>
<!--=======================================================================
	SINGLE IS USED TO SHOWING A ARTICLE'S CONTENT
=======================================================================-->
<html lang="en" class="no-js">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title> <%= myArticle.title %> </title>
    <link href="/stylesheets/media_query.css" rel="stylesheet" type="text/css"/>
    <link href="/stylesheets/bootstrap.css" rel="stylesheet" type="text/css"/>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link href="/stylesheets/animate.css" rel="stylesheet" type="text/css"/>
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
    <link href="/stylesheets/owl.carousel.css" rel="stylesheet" type="text/css"/>
    <link href="/stylesheets/owl.theme.default.css" rel="stylesheet" type="text/css"/>
    <!-- Bootstrap CSS -->
    <link href="/stylesheets/style_1.css" rel="stylesheet" type="text/css"/>
    <!-- Modernizr JS -->
    <script src="/javascripts/modernizr-3.5.0.min.js"></script>
    <script src="/javascripts/customized.js"></script>
    <script async charset="utf-8" src="//cdn.embedly.com/widgets/platform.js"></script>
</head>

<body class="single">
<div class="container-fluid fh5co_header_bg">
    <div class="container">
        <div class="row">
            <div class="col-12 fh5co_mediya_center"><a id="timer" href="#" class="color_fff fh5co_mediya_setting"><i
                    class="fa fa-clock-o"></i>&nbsp;&nbsp;</a>
                <div class="d-inline-block fh5co_trading_posotion_relative"><a href="#" class="treding_btn">Trending</a>
                    <div class="fh5co_treding_position_absolute"></div>
                </div>
                <a href="/the-loai/<%= myArticles[myArticles.length-1].categorySeo%>/<%= myArticles[myArticles.length-1].seo%>.<%= myArticles[myArticles.length-1]._id%>" class="color_fff fh5co_mediya_setting"><%= myArticles[ myArticles.length-1].title  %></a>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-3 fh5co_padding_menu">
                <img src="/images/logo.png" alt="img" class="fh5co_logo_width"/>
            </div>
            <div class="col-12 col-md-9 align-self-center fh5co_mediya_right">
                <div class="text-center d-inline-block">
                    <a href="https://www.google.com/" class="fh5co_display_table"><div class="fh5co_verticle_middle"><i class="fa fa-search"></i></div></a>
                </div>
                <div class="text-center d-inline-block">
                    <a class="fh5co_display_table"><div class="fh5co_verticle_middle"><i class="fa fa-linkedin"></i></div></a>
                </div>
                <div class="text-center d-inline-block">
                    <a href="https://vi.wikipedia.org/wiki/Google%2B" class="fh5co_display_table"><div class="fh5co_verticle_middle"><i class="fa fa-google-plus"></i></div></a>
                </div>
                <div class="text-center d-inline-block">
                    <a href="https://www.instagram.com/phongkaster/" target="_blank" class="fh5co_display_table"><div class="fh5co_verticle_middle"><i class="fa fa-instagram"></i></div></a>
                </div>
                <div class="text-center d-inline-block">
                    <a href="https://www.facebook.com/PhongxKaster/" target="_blank" class="fh5co_display_table"><div class="fh5co_verticle_middle"><i class="fa fa-facebook"></i></div></a>
                </div>
                <!--<div class="d-inline-block text-center"><img src="/images/country.png" alt="img" class="fh5co_country_width"/></div>-->
                <div class="d-inline-block text-center dd_position_relative ">
                    <select class="form-control fh5co_text_select_option">
                        <option>English </option>
                        <option>Tiếng Việt</option>
                    </select>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid bg-faded fh5co_padd_mediya padding_786">
    <div class="container padding_786">
        <nav class="navbar navbar-toggleable-md navbar-light ">
            <button class="navbar-toggler navbar-toggler-right mt-3" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation"><span class="fa fa-bars"></span></button>
            <a class="navbar-brand" href="#"><img src="/images/logo.png" alt="img" class="mobile_logo_width"/></a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/home">Trang chủ<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="/blog">Blog <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item dropdown active">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdownMenuButton1" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">Thể loại<span class="sr-only">(current)</span></a>
                           
                           <div class="dropdown-menu" aria-labelledby="dropdownMenuLink_1">
                            <% myCategories.forEach( function( oneCategory ){ %> 
                                <a class="dropdown-item" href="/the-loai/<%= oneCategory.seo%>"> <%= oneCategory.field %></a>
                            <%})%>
                            </div>
                            
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdownMenuButton2" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">Thế giới<span class="sr-only">(current)</span></a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink_1">
                            <a class="dropdown-item" href="#">Action in</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdownMenuButton3" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">Cộng đồng<span class="sr-only">(current)</span></a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink_1">
                            <a class="dropdown-item" href="#">Action in</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="/contact">Giới thiệu <span class="sr-only">(current)</span></a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>
<div id="fh5co-title-box" style="background-image: url('<%= myArticle.pathPhoto %>'); background-position: 50% 90.5px;" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="page-title">
        <!-- <h3>Tue,23-03-2021</h3> -->
        <h2><%= myArticle.title %></h2>
    </div>
</div>

<div id="fh5co-single-content" class="container-fluid pb-4 pt-4 paddding">
    <div class="container paddding">
        <div class="row mx-0">
            <div class="col-md-8 animate-box" data-animate-effect="fadeInLeft">
                <p>
                    <%- myArticle.content %>
                </p>
            </div>
            <div class="col-md-3 animate-box" data-animate-effect="fadeInRight">
                <div>
                    <div class="fh5co_heading fh5co_heading_border_bottom py-2 mb-4">Tags</div>
                </div>
                <div class="clearfix"></div>
                <div class="fh5co_tags_all">
                    <% for( let index = 0 ; index < myCategories.length ; index++) {  %>
                        <a href="/the-loai/<%= myCategories[index].seo  %>" class="fh5co_tagg"> <%= myCategories[index].field %> </a>
                    <% } %>
                </div>
                <div>
                    <div class="fh5co_heading fh5co_heading_border_bottom pt-3 py-2 mb-4">Phổ biến nhất</div>
                </div>
                <% for( let index = 0 ; index < 5 ; index++){ %>
                    <div class="row pb-3">
                        <div class="col-5 align-self-center">
                            <img src="<%= myArticles[index].pathPhoto  %>" alt="img" class="fh5co_most_trading"/>
                        </div>
                        <div class="col-7 paddding">
                            <div class="most_fh5co_treding_font"><%= myArticles[index].title  %></div>
                            <div class="most_fh5co_treding_font_123"> <%= moment(myArticles[index].date).format('dddd , DD-MM-YYYY') %> </div>
                        </div>
                    </div>
                    <% } %>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid pb-4 pt-5">
    <div class="container animate-box">
        <div>
            <div class="fh5co_heading fh5co_heading_border_bottom py-2 mb-4">Trending</div>
        </div>
        <div class="owl-carousel owl-theme js" id="slider1">
            <% for( let index = myArticles.length-1 ; 0 <= index ;index--){ %>
            <div class="item px-2">
                <div class="fh5co_latest_trading_img_position_relative">
                    <div class="fh5co_latest_trading_img"><img src="<%= myArticles[index].pathPhoto %>" alt=""
                                                           class="fh5co_img_special_relative"/></div>
                    <div class="fh5co_latest_trading_img_position_absolute"></div>
                    <div class="fh5co_latest_trading_img_position_absolute_1">
                        <a href="/the-loai/<%= myArticles[index].categorySeo%>/<%= myArticles[index].seo%>.<%= myArticles[index]._id%>  %>" class="text-white"> <%= myArticles[index].title  %> </a>
                        <div class="fh5co_latest_trading_date_and_name_color"> <%= moment(myArticles[index].date).format('dddd , DD-MM-YYYY') %></div>
                    </div>
                </div>
            </div>
            <% } %>
        </div>
    </div>
</div>
<!-- =================================================================
                COMMENT FORM
    =================================================================-->
<div class="container mt-5">
    <div class="d-flex justify-content-center row">
        <div class="col-md-8">
            <div class="d-flex flex-column comment-section">
                <form action="/do-comment/<%= myArticle._id  %>" method="post">
                    <div class="bg-light p-2">
                        <div class="d-flex flex-row align-items-start">
                            <img class="rounded-circle" src="/admin/images/faces/myBlueAvatar.jpg" width="40">
                            <textarea id="username" name="username" class="form-control shadow-none textarea" placeholder="Your Name"></textarea>
                        </div>
                        <div class="d-flex flex-row align-items-start">
                                <textarea id="comment" name="comment" class="form-control ml-1 shadow-none textarea" placeholder="Write a comment"></textarea>
                        </div>
                        <div class="mt-2 text-right">
                            <button id="postButton" class="btn btn-primary btn-sm shadow-none" type="button">Post comment</button>
                            <button id="cancelButton" class="btn btn-outline-primary btn-sm ml-1 shadow-none" type="button">Cancel</button></div>
                    </div>
                </form>
                <div id="commentsList">
                    <% commentsArticle.forEach(function(iComment){ %> 
                        <div class="bg-white p-2">
                            <div class="d-flex flex-row user-info"><img class="rounded-circle" src="/admin/images/faces/myBlueAvatar.jpg" width="40">
                                <div class="d-flex flex-column justify-content-start ml-2"><span class="d-block font-weight-bold name"><%= iComment.username  %></span><span class="date text-black-50"><%= moment(iComment.date).format('DD-MM-YYYY , hh:mm a')  %></span></div>
                            </div>
                            <div class="mt-2">
                                <p class="comment-text"><%= iComment.comment  %></p>
                            </div>
                        </div>
                        <div class="bg-white">
                            <div class="d-flex flex-row fs-12">
                                <div class="like p-2 cursor"><i class="fa fa-thumbs-o-up"></i><span class="ml-1">Like</span></div>
                                <div class="like p-2 cursor"><i class="fa fa-commenting-o"></i><span class="ml-1">Comment</span></div>
                                <div class="like p-2 cursor"><i class="fa fa-share"></i><span class="ml-1">Share</span></div>
                            </div>
                        </div>
                        <%}) %>
                </div>
                
            </div>
        </div>
    </div>
</div>
<div class="container-fluid fh5co_footer_bg pb-3">
    <div class="container animate-box">
        <div class="row">
            <div class="col-12 spdp_right py-5"><img src="/images/white_logo.png" alt="img" class="footer_logo"/></div>
            <div class="clearfix"></div>
            <div class="col-12 col-md-4 col-lg-3">
                <div class="footer_main_title py-3">Giới thiệu</div>
                <div class="footer_sub_about pb-3"> Chào mọi người , mình là Nguyễn Thành Phong.Một lập trình viên còn "bé bỏng" mới tập tành viết code.
                    Trang blog này với mục đích chia sẻ những điều mình thấy và ý kiến cá nhân của mình về nghề lập trình và những khía cạnh khác của một lập trình viên.
                    Mình rất mong mọi người đón nhận và được giao lưu kết bạn với tất cả mọi người từ khắp mọi miền Tổ quốc.
                </div>
                <div class="footer_mediya_icon">
                    <div class="text-center d-inline-block"><a class="fh5co_display_table_footer">
                        <div class="fh5co_verticle_middle"><i class="fa fa-linkedin"></i></div>
                    </a></div>
                    <div class="text-center d-inline-block"><a class="fh5co_display_table_footer">
                        <div class="fh5co_verticle_middle"><i class="fa fa-google-plus"></i></div>
                    </a></div>
                    <div class="text-center d-inline-block"><a class="fh5co_display_table_footer">
                        <div class="fh5co_verticle_middle"><i class="fa fa-twitter"></i></div>
                    </a></div>
                    <div class="text-center d-inline-block"><a class="fh5co_display_table_footer">
                        <div class="fh5co_verticle_middle"><i class="fa fa-facebook"></i></div>
                    </a></div>
                </div>
            </div>
            <div class="col-12 col-md-3 col-lg-2">
                <div class="footer_main_title py-3">Thể loại</div>
                <ul class="footer_menu">
                    <% myCategories.forEach(function(oneCategory){ %> 
                        <li><a href="/the-loai/<%= oneCategory.seo %>" class=""><i class="fa fa-angle-right"></i>&nbsp;&nbsp; <%= oneCategory.field %></a></li>
                    <% }) %>
                </ul>
            </div>
            <div class="col-12 col-md-5 col-lg-3 position_footer_relative">
                <div class="footer_main_title py-3"> Xem nhiều nhất</div>
                <% for( let index = 0 ; index < 3 ; index ++){ %> 
                <div class="footer_makes_sub_font">   <%= moment(myArticles[index].date).format('dddd , DD-MM-YYYY') %></div>
                <a href="/the-loai/<%= myArticles[index].categorySeo %>/<%= myArticles[index].seo%>.<%= myArticles[index]._id%>" class="footer_post pb-4"> <%= myArticles[index].title  %></a>
                <%}%>
                <div class="footer_position_absolute"><img src="/images/footer_sub_tipik.png" alt="img" class="width_footer_sub_img"/></div>
            </div>
            <div class="col-12 col-md-12 col-lg-4 ">
                <div class="footer_main_title py-3"> Những bài viết gần đây</div>
                <% for( let index = 0 ; index < 9 ; index++){ %>
                <a href="/the-loai/<%= myArticles[index].categorySeo%>/<%= myArticles[index].seo%>.<%= myArticles[index]._id%>" class="footer_img_post_6"><img src="<%= myArticles[index].pathPhoto  %>" alt="img"/></a>
                <% } %>
            </div>
        </div>
        <div class="row justify-content-center pt-2 pb-4">
            <div class="col-12 col-md-8 col-lg-7 ">
                <div class="input-group">
                    <span class="input-group-addon fh5co_footer_text_box" id="basic-addon1"><i class="fa fa-envelope"></i></span>
                    <input type="text" class="form-control fh5co_footer_text_box" placeholder="Enter your email..." aria-describedby="basic-addon1">
                    <a href="#" class="input-group-addon fh5co_footer_subcribe" id="basic-addon12"> <i class="fa fa-paper-plane-o"></i>&nbsp;&nbsp;Subscribe</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid fh5co_footer_right_reserved">
    <div class="container">
        <div class="row  ">
            <div class="col-12 col-md-6 py-4 Reserved"> © Copyright 2018, All rights reserved. Design by <a href="https://freehtml5.co" title="Free HTML5 Bootstrap templates">FreeHTML5.co</a>. </div>
            <div class="col-12 col-md-6 spdp_right py-4">
                <a href="#" class="footer_last_part_menu">Home</a>
                <a href="Contact_us.html" class="footer_last_part_menu">About</a>
                <a href="Contact_us.html" class="footer_last_part_menu">Contact</a>
                <a href="blog.html" class="footer_last_part_menu">Latest News</a></div>
        </div>
    </div>
</div>

<div class="gototop js-top">
    <a href="#" class="js-gotop"><i class="fa fa-arrow-up"></i></a>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="/javascripts/owl.carousel.min.js"></script>
<!--<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"
        integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"
        integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
        crossorigin="anonymous"></script>
<!-- Waypoints -->
<script src="/javascripts/jquery.waypoints.min.js"></script>
<!-- Parallax -->
<script src="/javascripts/jquery.stellar.min.js"></script>
<!-- Main -->
<script src="/javascripts/main.js"></script>
<script src="https://cdn.ckeditor.com/ckeditor5/27.0.0/classic/ckeditor.js"></script>
<script>
    ClassicEditor
      .create( document.querySelector( '#editor' ), {
      } )
  </script>
<script>if (!navigator.userAgent.match(/Android|BlackBerry|iPhone|iPad|iPod|Opera Mini|IEMobile/i)){$(window).stellar();}</script>
<script>
    document.querySelectorAll( 'oembed[url]' ).forEach( element => {
        // Create the <a href="..." class="embedly-card"></a> element that Embedly uses
        // to discover the media.
        const anchor = document.createElement( 'a' );

        anchor.setAttribute( 'href', element.getAttribute( 'url' ) );
        anchor.className = 'embedly-card';

        element.appendChild( anchor );
    } );
</script>
<script>
    $('#postButton').click(function()
    {
        $.ajax({
            url:"/do-comment/<%= myArticle._id  %>",
            type:"post",
            data:
            {
                username: $('#username').val(),
                comment:$('#comment').val()
            },
            success: function (iJSON) 
            {
               var markUp = `
               <div class="bg-white p-2">
                    <div class="d-flex flex-row user-info"><img class="rounded-circle" src="/admin/images/faces/mtBlueAvatar.jpg" width="40">
                        <div class="d-flex flex-column justify-content-start ml-2"><span class="d-block font-weight-bold name">`+ iJSON.username +`</span><span class="date text-black-50">`+ iJSON.date +`</span></div>
                    </div>
                    <div class="mt-2">
                        <p class="comment-text"> `+ iJSON.comment +`  </p>
                    </div>
                </div>
                <div class="bg-white">
                    <div class="d-flex flex-row fs-12">
                        <div class="like p-2 cursor"><i class="fa fa-thumbs-o-up"></i><span class="ml-1">Like</span></div>
                        <div class="like p-2 cursor"><i class="fa fa-commenting-o"></i><span class="ml-1">Comment</span></div>
                        <div class="like p-2 cursor"><i class="fa fa-share"></i><span class="ml-1">Share</span></div>
                    </div>
                </div>
               `;
               $('#commentsList').prepend(markUp);
               $('#username').val(''),
               $('#comment').val('')
            }
        });
    });

    $('#cancelButton').click(function()
    {
        $('#username').val('');
        $('#comment').val('');
    })
</script>
</body>
</html>